# Inference

untuk inference pastikan tidak ada lagi kata **FIT**. Lakukan semua transformasi yang dilakukan ketika FE, lalu predict dengan model yang sudah di save

In [8]:
#Import library

import pandas as pd
import numpy as np
import pickle
import json

## Load model

In [ ]:
#Load all files

with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_cols = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('model_encoder.pkl', 'rb') as file_4:
  encoder = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

## Inferencing

In [22]:
#Create new data

data_inf = {
    'Name': 'Ghiffari',
    'Age' : 50,
    'Height' : 190,
    'Weight' : 80,
    'Price' : 1900000,
    'AttackingWorkRate': 'High',
    'DefensiveWorkRate': 'High',
    'PaceTotal': 50,
    'ShootingTotal': 100,
    'PassingTotal': 100,
    'DribblingTotal': 100,
    'DefendingTotal': 100,
    'PhysicalityTotal': 60
}

data_inf = pd.DataFrame([data_inf])
data_inf

,Name,Age,Height,Weight,Price,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Ghiffari,50,190,80,1900000,High,High,50,100,100,100,100,60

In [23]:
#Split between numerical columns and categorical columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_num

,Age,Height,Weight,Price,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,50,190,80,1900000,50,100,100,100,100,60

In [24]:
#Feature scaling and feature encoding

data_inf_num_scaled = scaler.transform(data_inf_num)
data_inf_cat_encoded = encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [25]:
#Predict usiing linear regression

y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

/Users/hacktiv8/anaconda3/envs/data_science/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([88.45788378])